@import 'compass/css3';
@import '../../shared/sass/vars';

#instafeed { 
	width: $feedWidthDT;
	margin: 0px auto; 
	
	a { 
		display: block; 
		margin: 40px 0;
		text-decoration: none;
		position: relative;
		
		img { 
			display: block; 
			@include border-radius($cornerRadius);
			width: 100%; 
			height: 100%; 
		}
		.caption { 
			@include border-radius(0px 0px $cornerRadius $cornerRadius);
			font-family: HelveticaThin;
			font-size: 16px;
			display: block;
			position: absolute;
			bottom: 0px;
			width: calc(100% - 12px);
			padding: 12px 6px 7px 6px;
			text-decoration: none;
			background: rgba(black, .5);
			z-index: 2;
		}
		.overlay {
			width: 90%;
			height: 90%;
			position: absolute;
			left: 50%;
			top: 50%;
			@include translate(-50%, -50%);
			@include opacity(0);
			@include transition(all, 200ms, ease-in-out);
			@include border-radius($cornerRadius);
			background: url(../app/shared/images/link.png) center no-repeat;
			background-color: rgba($secondary, .22);
			background-size: 60px;
			z-index: 1;
			
			&:hover { 
				@include opacity(1);
				background-size: 100px;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 1024px) {
  #instafeed {
  	width: $feedWidthTB;
		max-width: $feedWidthDT;
  }
}

@media (max-width: 512px) {
  #instafeed { }
}