//
// !! base styles

body { 
	margin: 0px;
	padding: 0px;
	background-color: #252429;
	
	.background { 
		min-height: 100vh;
		min-width: 100vw;
		background-color: rgb(50,60,90);
//		background: url(../images/background.jpg) center no-repeat; 
		background-size: cover;
		background-attachment: fixed;
    position: absolute;
    top: 0px;
    z-index: -1;
		height: 100%;
	}
}

h1 { color: white; }
span { color: white; }

@media (max-width: 1024px) { 
	body .background {
		background-size: 200vh;
		background-position: top;
		background-attachment: scroll;
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
		mask-image: gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	}
}
