//
// colors

$primary: white;
$secondary: rgb(230,170,210);
$backgroundColor: #252429;

//
// dimensions

$headerHeight: 72px;
$feedWidthTB: 90%; 
$feedWidthDT: 520px; 
$playButtonSize: 100px;
$socialIconSize: 38px;
$cornerRadius: 6px;