<div class="content">
	
	<div class="background"></div>
	
	<!-- navigation -->
	<app-nav></app-nav>
	
	<!-- main content -->
	<div class="top" id="music">

		<div>

			<!-- logo -->
			<img class="logo" src="app/shared/images/logo.svg" />
	
			<!-- soundcloud feed -->
			<app-soundcloud></app-soundcloud>
		
			<!-- social links -->
			<div class="social-links" class="upper">
				<app-social-link [type]="'facebook'"></app-social-link>
				<app-social-link [type]="'instagram'"></app-social-link>
				<app-social-link [type]="'soundcloud'"></app-social-link>	
			</div>
		
		</div>
		
		<!-- move down cta -->
		<div id="downArrow"></div>
		
	</div>
	<div class="bottom" id="photos">

		<!-- instagram feed -->
		<app-instagram></app-instagram>
		
		<!-- social links -->
		<div class="social-links" id="contact">
			<app-social-link [type]="'facebook'"></app-social-link>
			<app-social-link [type]="'instagram'"></app-social-link>
			<app-social-link [type]="'soundcloud'"></app-social-link>	
		</div>

	</div>	
	
</div>