.content {
	padding-bottom: 40px;
	min-height: 100vh;
	position: relative;
	
	.top { 
		min-height: 100vh;
		
		> div {
			position: absolute;
			top: 50vh;
			left: 50vw;
			transform: translate(-50%, -50%);
			text-align: center;
			
			.logo { 
				width: 95vw; 
				max-width: 680px; 
				margin: 0px auto; 
				display: block; 
				transition: opacity 2s;
		
				&.init { 
					opacity: 1; 
					transition: opacity 2s;
				}
			}			
		}
		
		#downArrow {
			background: url(../app/shared/images/downArrow.png) center no-repeat;
			background-size: 50%;
			height: 60px;
			width: 120px;
			opacity: .4;
			top: 94vh;
		}
		.upper {display: none; }
	}
	.bottom { 
		.social-links { 
			text-align: center; 
//			opacity: 0;
			transition: opacity 200ms;
		
			&.init { opacity: 1; }		
		}
	}
}

@media (max-width: 1024px) {
	.upper {display: none; }
	.content {		
		.top { 
			padding-top: 80px;
			min-height: calc(100vh - 40px);
			
			.logo { top: 28vh;}
			#downArrow { top: 78vh; }
			.upper {display: block; position: absolute; top: 45vh; left: 50vw; transform: translate(-50%, -50%);}
		}
	}
}