@import '../../shared/sass/vars';

:host { 
	display: inline-block;
	margin: 50px auto 0 auto;
}

iframe { 
	position: fixed; 
	top: -2000px; 
	height: 100px; 
	width: 100px; 
}

#controls {
	display: block;
	width: 280px;
	text-align: center;
		
	> * { display: inline-block; }
	 
	// button
	#playButton {
		height: 100px;
		width: 100px;
		border-radius: 100%;
		border: 2px solid white;
		background: url(../app/shared/images/pauseIcon.png) center no-repeat;
		background-size: 54%;
		background-color: rgba(black, .2);
		cursor: pointer;
		transition: transform 200ms;
	
		&:hover { transform: scale(1.1, 1.1) }
		&.paused {
			background: url(../app/shared/images/playIcon.png) center no-repeat;			
			background-size: 54%;
			background-color: rgba(black, .2);
		}
	}
	
	// info
	p {
		width: 100%;
		font-size: 14px;
		
		span { font-family: HelveticaRoman; opacity: .6; }
		.bold { font-family: HelveticaBold; opacity: 1; }
	}
}

@media (max-width: 1024px) { 
	#controls {
		display: none;
		top: 44vh;
		
		#playButton {
			width: 60px;
			height: 60px;
		}
	}
}