@import "../../shared/sass/vars";

:host {
	background: rgba(black, .6);
	width: 100vw;
	height: $headerHeight;
	position: fixed;
	top: 0px;
}

ul {
	list-style: none;
	text-align: right;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	
	li { 
		display: inline-block;
		margin-right: $headerHeight / 2 - 2px;
		
		a { 
			width: 100%;
			height: 100%;
			color: $primary;
			text-transform: uppercase;
			text-decoration: none;
			opacity: .8;
			transition: opacity 200ms;
			font-size: 14px;
			font-family: HelveticaRoman; 			
			cursor: pointer;			
			
			&:hover { opacity: 1 }
		}
	}
}